@import "./src/theme/colours";

button.btn {
  font-family: inherit;
  outline: none;
  border-radius: 6px;
  border: none;
  padding: 12px 16px;
  margin: 0 4px;
  background-color: transparent;
  transition-duration: 0.5s;
  color: $tried-and-true-blue;

  &.btn-primary {
    background-color: $caramel-finish;

    &:hover {
      background-color: $sea-buckthorn;
    }
  }

  &.btn-secondary {
    background-color: $alice-blue;

    &:hover {
      background-color: $water;
    }
  }

  &:hover {
    background-color: $herring-silver;
  }
}