section.popular-services {
  margin-top: 64px;

  * {
    text-align: center;
  }

  div.locations {
    ul.location-tags {
      display: flex;
      list-style: none;
      margin-top: 32px;

      li {
        flex: 1;
        display: inline-block;
        transition-duration: 0.3s;

        &:hover {
          cursor: pointer;
        }

        &.selected {
          font-weight: 700;
          opacity: 1;
        }

        &.unselected {
          opacity: 0.5;
          font-weight: 500;
        }
      }
    }
  }

  div.skills-grid {
    .skills {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
