body {
  * {
    font-family: 'Lato', sans-serif;
  }

  .fancy {
    font-family: "Merriweather", sans-serif;
  }

  .fill {
    min-height: 100vh;
  }

  .half {
    min-height: 50vh;
  }

  p {
    font-size: 20px;
  }

  main {
    max-width: 1200px;
  }
}
