body {
  * {
    font-family: 'Lato', sans-serif;
  }

  .fancy {
    font-family: "Merriweather", sans-serif;
    font-weight: 500;
  }

  .centred {
    width: fit-content;
    margin: auto;
  }

  .fill {
    min-height: 100vh;
  }

  .half {
    min-height: 50vh;
  }

  main {
    max-width: 1200px;
  }

  .icon-background {
    width: fit-content;
    height: fit-content;
    padding: 8px;
    border-radius: 50%;
    background-color: #e2fafe;
  }
}
