header.navbar {
  background-color: white;
  max-width: 1200px;
  margin: 16px auto;

  div.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    > div {
      * {
        color: rgb(73, 80, 101);
      }

      span {
        color: #828899;
        font-size: 24px;
        line-height: 24px;
        margin-left: 12px;

        &:hover {
          cursor: pointer;
        }
      }

      img {
        height: 28px;
        margin: 0 32px 0 16px;
      }
    }
  }
}
