header#navbar {
  background-color: white;
  max-width: 960px;

  div.container {
    margin: 16px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: space-between;

    > div {
      * {
        line-height: 14px;
        color: rgb(73, 80, 101);
        font-size: 14px;
      }

      span {
        margin: 4px;

        &:hover {
          cursor: pointer;
        }
      }

      button {
        font-family: inherit;
        outline: none;
        border-radius: 6px;
        border: none;
        padding: 12px 16px;
        margin: 0 4px;
        background-color: transparent;
        transition-duration: 0.5s;

        &.client {
          color: #a76504;
          background-color: #ffd699;

          &:hover {
            background-color: #ffc061;
          }
        }

        &.agency {
          color: #20c5e5;
          background-color: #eefafd;

          &:hover {
            background-color: #d7f5fa;
          }
        }

        &:hover {
          //background-color: #828899;;
          background-color: #c5c9ce;
        }
      }

      &.left {
        align-self: flex-start;

        img {
          height: 28px;
          margin: 0 32px 0 16px;
        }
      }

      &.centre {

      }

      &.right {
        align-items: end;
      }
    }
  }
}
