header.navbar {
  z-index: 3;
  background-color: white;
  max-width: 1200px;
  margin: 16px auto;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      max-height: 40px;

      img {
        align-self: center;
      }

      button {
        white-space: nowrap;
      }

      span {
        align-self: center;
        color: #828899;
        font-size: 24px;
        margin-left: 12px;

        &:hover {
          cursor: pointer;
        }
      }

      img {
        height: 28px;
        margin: 0 32px 0 16px;
      }
    }
  }
}
