@import "src/theme/colours";

.search-card {
  margin-top: 64px;
  background-color: white;
  display: flex;

  > div {
    justify-content: space-between;
  }

  button {
    margin-right: 4px;
  }

  .search-input {
    display: flex;
    margin-left: 8px;
  }

  .find-agency {
    display: flex;
    align-self: center;
  }

  span {
    align-self: center;

    &.primary {
      color: #ffc061;
    }

    &.material-icons {
      font-size: 18px;
    }
  }
}